
@font-face {
	font-family: "Geostar";
	font-style: normal;
	font-weight: normal;
	src: local("Geostar"), local("Geostar-Regular"),
		url("fonts/Geostar.woff") format("woff");
}

* {
	position: relative;
}

body {
	background: url("dark-hive/images/ui-bg_loop_25_000000_21x21.png")
		repeat;
	font-size: 10px;
}

#mainPanel {
	margin: auto;
	height: 565px;
}

#mainPanel .ui-tabs-nav li a {
	padding: 0.5em 3em;
}

#mainPanel .panel {
	vertical-align: top;
	background: rgba(0, 0, 0, 0.4);
}

.ui-widget-content.ui-tabs, .ui-widget-content.ui-tabs-panel {
	background: none;
}

#leftPanel {
	width: 415px;
}

#rightPanel {
	width: 900px;
}

#leftPanel .mainTitle {
	color: #FFFFFF;
	font-family: 'Geostar', cursive;
	font-size: 17px;
	letter-spacing: 19px;
	margin: 10px 18px;
	text-shadow: 0 0 0.2em #FF8877, 0 0 0.2em #FF8877;
}

#rightPanel #medialibrary .ui-finder a {
	font-size: 15px;
}

#mainPanel #tab-settings {
	height: 500px;
	padding: 1em 0;
}

#mainPanel #tab-settings .tab-settings-content {
	border: none;
}

#mainPanel #tabpanel-settings {
	height: 100%;
}

#mainPanel #tab-settings .title {
	background: -moz-linear-gradient(center top, #000000, #1E7EAC, #000000);
	font-weight: bold;
	margin: 5px 0;
	opacity: 0.6;
	padding: 9px;
	width: 500px;
}