* {
	position: relative;
}

body {
	background: url("dark-hive/images/ui-bg_loop_25_000000_21x21.png") repeat;
	font-size: 10px;
}

.panel {
	/*margin: 15px;*/
}

#leftPanel, #rightPanel {
	height: 300px;
	float: left;
} 


#leftPanel {
	width: 30%;
	min-width: 280px;
}

#rightPanel {
	width: 65%;
	min-width: 550px;
}


#rightPanel #medialibrary .ui-finder a {
	font-size: 15px;
}


#mainPanel #headline {
	font-family: 'Monoton', cursive;
	font-size: 60px;
  padding: 5px 15px;
  color: #fff;
}
