
#medialibrary .ui-tabs-panel
{
	height: 450px;
}


#medialibrary #tab-radio table
{
	width: 100%;
}

#medialibrary #radio-library-selection 
{
	vertical-align: top;
	width: 150px;
	padding: 14px 1px;
}

#medialibrary #radio-library-selection .search
{
	margin-top:30px;
}

#medialibrary label.ui-button
{
	border-radius: 0;
	width: 100%;
}

#medialibrary .content 
{
	height: 450px;
	overflow-x: hidden;
  overflow-y: auto;
}

#medialibrary #radio-library-content
{
	float: left;
	position: relative;
	width: 100%;
	margin: 10px;
}

#medialibrary #radio-library-content thead td
{
	font-weight: bold;
}

#medialibrary #radio-library-content tr
{
	background: #000;
}
	
#medialibrary #radio-library-content td
{
	font-size: 10px;
	padding: 1px 15px;
}

#medialibrary #radio-library-content td.title
{
	font-size: 11px;
	font-weight: bold;
}


#add-dialog label,
#add-dialog input
{
	margin: 5px;
	float: right;
}

/* Media library */

#medialibrary .local-library-container
{
	overflow-x: auto;
  overflow-y: hidden;
}

#medialibrary .local-library-container table
{
	width: -moz-max-content;
}

#medialibrary .library-column
{
	width: 250px;
}

#medialibrary .library-column .level-container
{
	overflow-x: hidden;
  overflow-y: scroll;
	height: 450px;
}

#medialibrary .library-column .level-container span.ui-button-text
{
	text-align: left;
}

#medialibrary .library-column .level-container .folder-buttons .title,
#medialibrary .library-column .level-container .folder-buttons button
{
	margin: 8px 4px;
}

#medialibrary .library-column .level-container .folder-buttons .ui-button-text
{
	padding: 5px;
}

#medialibrary  .library-column .level-container label.ui-button
{
	width: 232px;
}



