
/* The display */

#display
{
	color: #fff;
	margin: 8px;
} 

#display #display-title,
#display #display-genre,
#display #display-bitrate
{
	background: #000;
	margin: 5px;
	padding: 5px;
	position: relative;
}

#display #display-title
{
	width: 85%;
	font-weight: bold;
}

#display #display-genre,
#display #display-bitrate
{
	width: 40%;
	float:left;
}

/* Playlist */

#playlist 
{
	color: #fff;
	height: 130px;
	overflow: auto;
}

#playlist .playlistEntry
{
	margin-left: 9px;
}

#playlist .playlistEntry.current
{
	font-weight: bold;
}

#playlist .playlistEntry button
{
	margin-top: 1px;
}

#playlist .playlistEntry div 
{
	float: left;
	margin: 5px;
}

/* Playback control buttons */

#playback {
	margin: 10px;
}

#playback .playback-control-button 
{
	margin: 0 5px; 
}

#playback .playback-control-button .ui-button-text {
	width: 2.6em;
}

#playback .playback-control-button .ui-button-text {
	padding: 15px;
}

/* Volume Control */

#volume {
	margin: 15px;
}

#volume .volumeControlSlider,
#volume #volumeMuteButton {
	float: left;
}

#volume .volumeControlSlider {
	width: 80%;
	margin-right: 15px;
}

#volume .volumeMuteButtonLabel .ui-button-text {
	padding: 5px;
}


/* Equalizer */

#equalizer {
	height: 120px;
	margin-left: 5px;
}

#equalizer span {
	height: 100%;
	float: left; 
	margin: 3%;
}