

/* Playback control button */

#playback {
	margin: 10px;
}

#playback .playback-control-button 
{
	margin: 0 5px; 
}

#playback .playback-control-button .ui-button-text {
	width: 2.6em;
}

#playback .playback-control-button .ui-button-text {
	padding: 15px;
}

/* Volume Control */

#volume .volumeControlSlider,
#volume #volumeMuteButton {
	float: left;
}

#volume .volumeControlSlider {
	width: 80%;
	margin-right: 15px;
}

#volume .volumeMuteButtonLabel .ui-button-text {
	padding: 5px;
}


/* Equalizer */

#equalizer {
	height: 120px;
}

#equalizer span {
	height: 100%;
	float: left; 
	margin: 3%;
}