
/* The display */

#display
{
	color: #fff;
	margin: 8px;
} 

#display #display-title,
#display #display-genre,
#display #display-bitrate
{
	background: #000;
	margin: 5px;
	padding: 5px;
	position: relative;
}

#display #display-title
{
	width: 85%;
	font-weight: bold;
	min-height: 1.4em;
}

#display #display-genre,
#display #display-bitrate
{
	width: 40%;
	float:left;
}

/* Playlist */

#playlist 
{
	color: #fff;
	height: 330px;
	overflow: auto;
}

#playlist .playlistEntry
{
	margin-left: 9px;
	display: inline-block;
	width: 90%;
}

#playlist .playlistEntry.current
{
	font-weight: bold;
	background: #000;
}

#playlist .playlistEntry button
{
	margin-top: 1px;
}

#playlist .playlistEntry div 
{
	float: left;
	margin: 1px 5px;
}

#playlist .playlistEntry div.title 
{
	width: 270px;
	height: 1.4em;
	overflow: hidden;
}

/* Playback control buttons */

#playback {
	margin: 10px;
	float: left;
}

#playback .playback-control-button 
{
	margin: 0 5px; 
}

#playback .playback-control-button .ui-button-text {
	width: 2.6em;
}

#playback .playback-control-button .ui-button-text {
	padding: 15px;
}

/* Volume Control */

#volume {
	float: left;
	width: 200px;
}

#volume .volumeControlSlider,
#volume #volumeMuteButton {
	float: left;
}

#volume .volumeControlSlider {
	width: 80%;
	margin-right: 15px;
	margin-top: 13px;
}

#volume .volumeMuteButtonLabel {
	margin-top: 7px;
}

#volume .volumeMuteButtonLabel .ui-button-text {
	padding: 5px;
}


/* Equalizer */

#equalizer {
	height: 120px;
	margin-left: 5px;
}

#equalizer span {
	height: 100%;
	float: left; 
	margin: 3%;
}