

#tabpanel .library-container 
{
	width: 850px;
  overflow-x: auto;
	overflow-y: hidden;
}

#tabpanel .scollable-content 
{
	height: 450px;
	overflow-x: hidden;
  overflow-y: auto;
}

#tabpanel table td 
{
	vertical-align: top;
}


/* Library item */

#tabpanel div.item table
{
	width: 100%;
}

#tabpanel div.item,
#tabpanel div.folder
{
	width: 300px;
	margin: 0 5px;
}

#tabpanel div.item label,
#tabpanel div.folder label
{
	width: 100%;
	text-align: left;
	border-radius: 0;
}

#tabpanel div.folder-title td.title,
#tabpanel div.folder-title button
{
	margin: 4px 1px 8px 5px;
	font-weight: bold;
	float: left;
	vertical-align: middle;
}

#tabpanel div.item table td.title
{
	text-align: left;
	font-weight: bold;
}

#tabpanel div.item table td.genre
{
	text-align: right;
}

#tabpanel div.item table td.button
{
	width: 35px;
}


/* Search panel */

#tabpanel .searchPanel
{
	width: 90%;
	margin: 5px;
}

#tabpanel .searchPanel span.title,
#tabpanel .searchPanel input.search-field
{
	margin: 5px;
}

#tabpanel .searchPanel span.title
{
	font-weight: bold;	
}

#tabpanel .searchPanel input.search-field
{
	width: 300px;
}

#tabpanel .searchPanel .search-field-clear span.ui-button-text
{
	padding: 0.2em;
}

/* Radio specific */

#tabpanel #tab-radio table 
{
	width: 100%;
}

#tabpanel #tab-radio table td.radio-content-container
{
	padding-top: 5px;
}

#tabpanel #tab-radio table td.radio-selection 
{
	width: 150px;
}

#tabpanel #tab-radio .radio-library-selector 
{
	border-radius: 0;
	margin: 5px 10px;
  width: 145px;
}

#tabpanel #tab-radio div.item
{
	width: 100%;
}


/* Local library specific */

#tabpanel #tab-medialibrary div.item td.genre
{
	display: none;
}

#tabpanel #tab-medialibrary div.item td.title
{
	font-weight: normal;
}
