
#medialibrary .ui-tabs-panel
{
	height: 300px;
}

#medialibrary #radio-library-selection 
{
	width: 150px;
}

#medialibrary #radio-library-selection .ui-button
{
	border-radius: 0;
	width: 100%;
}

#medialibrary #radio-library-content
{
	float: left;
	position: relative;
}

#medialibrary #radio-library-content thead td
{
	font-weight: bold;
}

#medialibrary #radio-library-content tr
{
	background: #000;
}
	
#medialibrary #radio-library-content td
{
	font-size: 10px;
	padding: 1px 15px;
}

#medialibrary #radio-library-content td.title
{
	font-size: 11px;
	font-weight: bold;
}


#add-dialog label,
#add-dialog input
{
	margin: 5px;
	float: right;
}
